body {
    font-size: 1rem;
    background: whitesmoke;
    color: #183038;
    font-family: 'Josefin Sans', sans-serif, monospace;
    line-height: 30px;
    margin: 0px;
}

#navbar {
    float: left;
    width: 180px;
    border: 2px solid hsla(230, 55%, 50%, 2);
    border-radius: 5px;
    height: 100vh;
    margin-top: -21px;
    position: fixed;

}

#nlink,
.nav-link {
    display: block;
    padding: 10% 4%;
    font-size: 1em;
    text-decoration: none;
    color: #183038;
    font-family: 'Allerta Stencil', sans-serif;
}

.nav-link:hover,
#nlink:hover {
    background: hsla(230, 25%, 50%, 50%);
}


/** Contenu **/
#main-doc {
    margin: 0px;
    padding: 0em 0.5em 1em 13em;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
}

.main-section {
    margin: auto;
}

.main-section header {
    font-size: 2em;
}

h2,
h3 {
    font-family: 'Allerta Stencil', sans-serif;
    display: block;
    color: darkslateblue;
}

p {
    margin: auto;
    padding: 0.5em 0.2em 0.5em 1em;

}

pre {
    display: block;
    margin: 0px auto;
    max-width: 90%
}

code {
    display: block;
    white-space: pre-wrap;
    border: 2px solid hsla(230, 55%, 50%, 2);
    padding: 0.2em 0.5em;
    background-color: hsla(230, 30%, 80%, 1);
    margin: 1em auto;
    border-radius: 20px;
    color: black;
    max-width: 90%;
}


/** Media Queries**/
/**  Media 700 **/
@media () {
    body {
        font-size: 0.8rem;
    }

    #navbar {
        width: 150px;
    }

    #nlink,
    .nav-link {
        padding: 10% 4%;
        font-size: 1em;
    }

    #main-doc {
        margin: 0px;
        padding: 0em 0.5em 1em 12.5em;
    }

    .main-section {
        margin: auto;
    }

    .main-section header {
        display: block;
        color: teal;
        font-size: 2em;
    }

    p {
        margin: auto;
        padding: 0.5em 0.1em 0.5em 0.1em;
        ;
    }

    code {
        padding: 0.2em 0.5em;
        max-width: 90%;
    }
}


/**  Media 600 **/
@media (max-width: 600px) {
    body {
        font-size: 0.6rem;
        margin-top: 0px;
        text-align: justify;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: darkslateblue;
    }

    #nlink {
        width: 100%;
        display: block;
        font-size: 1em;
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Allerta Stencil', sans-serif;
    }

    .nav-link {
        padding: 0 0.5em;
        font-size: 0.9em;
        text-decoration: none;
        color: antiquewhite;
        font-family: 'Allerta Stencil', sans-serif;
    }


    #main-doc {
        margin: 0px;
        padding: 0em 0.3em;
    }

    h1 {
        padding: 0.1% 0.2em;
    }

    p {
        padding: 0.5em;
    }

    li {
        padding: 0.5em 1em;
    }

    pre {
        display: block;
        margin: 0px auto;
        max-width: 90%
    }

    code {
        display: block;
        white-space: pre-wrap;
        border: 2px solid hsla(230, 55%, 50%, 2);
        padding: 0.2em 0.5em;
        background-color: hsla(230, 30%, 80%, 1);
        margin: 1em auto;
        border-radius: 20px;
        color: black;
        max-width: 90%
    }
}
