#main {
    /* Text Features */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #26231D;

    border: 1px solid purple;
    border-radius: 0.5rem;

    /* Spacing */
    padding-top: 1.5rem;
    margin-top: 1em;
}

#title {
    /* Text Features */
    color: purple;
    font-size: xx-large;
    font-weight: 600;
}

hr {
    border: 1px solid #FFFFFF;
}

#img-div {
    /* Spacing */
    padding: 0rem;
    margin: auto 1rem;
    
    border: 1px solid purple;
    border-radius: 10px;
    box-shadow: 5px 5px 50px lightgray;
}

#my-img {
    border-radius: 10px;
}

#img-caption {
    /* Text Features */
    font-weight: 300;

    /* Spacing */
    padding: 1rem;
}


h2 {
    /* Text Features */
    color: purple;
    font-size: large;
    
    padding-top: 1em;
}

ul {
    /* Text Features */
    text-align: left;
    
    /* Spacing */
    margin: auto;
    max-width: 55rem;
}

blockquote {    
    /* Text Features */
    text-align: left;
    
    /* Spacing */
    max-width: 55rem;
    padding: 1em;
}

h3 {
    /* Text Features */
    font-size: large;
    padding-top: 2rem;
}

footer {
    /* Text Features */
    float: right;
    font-size: 0.7rem;
    
    /* Spacing */
    max-width: 150%;
    padding: 0.2rem 1rem;
}
#link1, #link2, #tribute-link{
    color: purple;
}

#link1:hover,#link2: hover, #tribute-link:hover {
    /* Text Features */
    color: mediumpurple;
    text-decoration: none;
}





